@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
        @Scripts.Render("~/js/lib")
        @Scripts.Render("~/js/app")
    </head>
    <body ng-app="app">
        <div ng-controller="Home">
            <ul>
                <li ng-repeat="entry in entries">
                    {{entry.date | format:"dddd DD. MMM"}} - {{entry.duration.hours}}:{{entry.duration.minutes}}
                </li>
            </ul>
        </div>
    </body>
</html>